.section-contact {
  margin-bottom: 60px;

  &-inner {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &-heading {
    margin-bottom: 40px;
  }

  &-surtitle {
    font-family: $title-font-family;
    text-align: center;
    font-weight: 500; // 700 in mockup but not available yet
    font-size: 1.125rem;
    color: $body-font-color;
    margin-bottom: 0px;
  }

  &-title {
    font-family: $body-font-family;
    text-align: center;
    font-weight: 800;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
    color: $body-font-color;
    letter-spacing: -0.03em;
  }

  &-form {
    .form-label-wrapper {
      @extend .sr-only;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .form-input,
    .form-select {
      background-color: $color-bg-white;
      border: 1px solid $color-bg-accent;
      border-radius: 10px;
      height: 3rem;
      padding: .75rem 1rem;
      font-family: $body-font-family;
      font-size: 1rem;
      color: $color-dark-light;
      width: 100%;

      &::placeholder {
        color: $color-dark-light;
      }

      &:focus {
        border-color: $color-accent-2;
        box-shadow: 0 0 0 2px rgba($color-accent-2, 0.2);
      }
    }

    textarea.form-input {
      height: auto;
      resize: vertical;
      min-height: 120px;
    }

    .form-checkbox {
      font-size: 0.875rem;
      color: $gray-color;

      a {
        color: $primary-color;
        text-decoration: underline;
      }
    }

    .button-wrapper {
      margin-top: 1.5rem;
    }
  }
}
