.section-services {

  // Overlap between items
  .service-card + .service-card {
    margin-top: -32px;
  }

  // Z-index stacking: 1st under 2nd under 3rd
  @for $i from 1 through 3 {
    .service-card:nth-child(#{$i}) {
      z-index: $i;
    }
  }
}
