.section-contact {
  margin-bottom: 60px;

  &-inner {
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &-heading {
    margin-bottom: 40px;
  }

  &-surtitle {
    font-family: $title-font-family;
    text-align: center;
    font-weight: 500; // 700 in mockup but not available yet
    font-size: 1.125rem;
    color: $body-font-color;
    margin-bottom: 0px;
  }

  &-title {
    font-family: $body-font-family;
    text-align: center;
    font-weight: 800;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
    color: $body-font-color;
    letter-spacing: -0.00em;

    @media (max-width: $size-md) {
      font-size: 4rem;
    }

    @media (max-width: $size-sm) {
      font-size: 3rem;
    }

    @media (max-width: $size-xs) {
      font-size: 2rem;
    }
  }

  &-form {
  }
}
