form {
  span.required {
    color: $error-color;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .form-input[type=range] {
    appearance: slider-horizontal;
    &:focus {
      box-shadow: none;
      border: none;
    }
  }

  /** Reset some defaults for Axelweb theme **/
  .form-group:not(.form-field-toggleable) {
    .checkboxes {
      display: inherit;

      label {
        display: inherit;
        padding: (($control-size-sm - $line-height) / 2) $control-padding-x (($control-size-sm - $line-height) / 2) ($control-icon-size + $control-padding-x);
        margin: inherit;

        &:before {
          display: none;
        }
      }
    }
  }

  .form-group {
    margin-bottom: 1.25rem;
  }

  .button-wrapper {
    margin-top: 1.25rem;
  }

  // Hide labels visually, keep for screen readers
  .form-label-wrapper {
    @extend .sr-only;
  }

  // Column layout for side-by-side fields
  .form-columns {
    display: flex;
    gap: 1.25rem;

    @include breakpoint(sm) {
      flex-direction: column;
      gap: 0;
    }
  }

  .form-column {
    flex: 1;
  }

  // Frontend form field styles
  .form-input,
  .form-select {
    background-color: $color-bg-white;
    border: 1px solid $color-bg-accent;
    border-radius: 10px;
    height: 3rem;
    padding: .75rem 1rem;
    font-family: $body-font-family;
    font-size: 1rem;
    color: $color-dark-light;
    width: 100%;

    &::placeholder {
      color: $color-dark-light;
    }

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba($primary-color, .2);
    }
  }

  textarea.form-input {
    height: auto;
    resize: vertical;
    min-height: 120px;
  }

  .form-checkbox {
    font-size: .875rem;
    color: $color-dark-light;
    padding-left: 2rem;

    .form-icon {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 4px;
    }

    input {
      &:checked + .form-icon {
        background: $primary-color;
        border-color: $primary-color;
      }

      &:focus + .form-icon {
        border-color: $primary-color;
        box-shadow: 0 0 0 2px rgba($primary-color, .2);
      }
    }

    a {
      color: $primary-color;
      text-decoration: underline;
    }
  }

}

#grav-login {

  > form {
    margin: 2rem auto 0;
    max-width: 350px;
  }
  .form-label {
    display: none;
  }
  .form-data {
    margin: 1rem 0;
  }
  .form-input {
    text-align: center;
  }
  .button-wrapper {
    text-align: right;

    .form-data.rememberme {
      margin: 0;
      float: left;
    }
  }

  .login-form {
    button[type="submit"] {
      @include button-primary;
    }
  }

  .twofa-form {
    button[type="submit"]:first-child {
      @include button-primary;
      float: right;
      margin-left: 4px;
    }
  }
}
