html {
  height: 100%;
}

#body-wrapper {
  .container {
    padding: $vert-padding;
  }

  // Fixed Header solution
  .header-fixed & {
    padding-top: $header-height-large;
  }
}

section.section {
  padding-left: $horiz-padding;
  padding-right: $horiz-padding;
  position: relative;
}
