.site-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $color-bg-base;
  padding: 28px $horiz-padding;
  transition: padding 0.3s;
  border-bottom: 1px solid $color-bg-accent;

  &.is-scrolled {
    padding: 12px $horiz-padding;
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $content-max-width;
    margin: 0 auto;
  }

  &-border {
    max-width: $content-max-width;
    margin: 0 auto;
    border-bottom: 1px solid $color-bg-accent;
  }
}

.site-logo {
  font-family: $title-font-family;
  font-size: 2.25rem;
  font-weight: 500;
  color: $body-font-color;
  text-decoration: none;
  transition: font-size 0.3s;

  .is-scrolled & {
    font-size: 1.5rem;
  }

  &:hover {
    color: $body-font-color;
    text-decoration: none;
  }
  &:visited {
      color: $body-font-color;
      text-decoration: none;
  }
}

.site-nav {
  ul {
    display: flex;
    align-items: center;
    gap: 0;
    margin: 0;
    list-style: none;
    background-color: $light-color;
    border: 1px solid $color-bg-accent;
    border-radius: 10px;
  }

  li {
    margin-top: 0;
  }

  li a {
    display: block;
    padding: 10px 20px;
    font-family: $title-font-family;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-decoration: none;
    color: $body-font-color;
    text-wrap: nowrap;
    transition: padding 0.3s, font-size 0.3s;

    .is-scrolled & {
      padding: 8px 16px;
      font-size: 13px;
    }

    &:hover,
    &:focus {
      color: lighten($primary-color, 10%);
    }

    &.active {
      color: $primary-color;
    }
  }

  .site-nav-cta {
    background-color: $color-accent-1;
    color: $light-color;
    border-radius: 10px;
    margin: -1px;

    &:hover,
    &:focus {
      background-color: darken($color-accent-1, 8%);
      color: $light-color;
    }

    &.active {
      color: $light-color;
      box-shadow: inset 0 0 0 2px darken($color-accent-1, 15%);
    }
  }
}
