// Core variables and mixins
@import 'theme/variables';
@import 'spectre/variables';
@import 'spectre/mixins';

@import 'theme/fonts';
@import 'theme/mixins';
@import 'theme/framework';
@import 'theme/typography';
@import 'theme/forms';
@import 'theme/mobile';
@import 'theme/animation';

// Components
@import 'theme/components/section-hero';
@import 'theme/components/buttons';
@import 'theme/components/tag';
@import 'theme/components/collapse';
@import 'theme/components/chevron';
@import 'theme/components/faq';
@import 'theme/components/section-faq';
@import 'theme/components/process-card';
@import 'theme/components/section-process';
@import 'theme/components/article-card';
@import 'theme/components/section-articles';

@import 'theme/header';
@import 'theme/footer';
@import 'theme/menu';

// Extra Skeleton Styling
@import 'theme/blog';
@import 'theme/onepage';
