// Core variables and mixins
@import 'theme/variables';
@import 'spectre/variables';
@import 'spectre/mixins';

@import 'theme/fonts';
@import 'theme/mixins';
@import 'theme/framework';
@import 'theme/typography';
@import 'theme/forms';
@import 'theme/animation';

// Components
@import 'theme/components/section-hero';
@import 'theme/components/buttons';
@import 'theme/components/tag';
@import 'theme/components/collapse';
@import 'theme/components/chevron';
@import 'theme/components/faq';
@import 'theme/components/section-faq';
@import 'theme/components/process-card';
@import 'theme/components/section-process';
@import 'theme/components/article-card';
@import 'theme/components/section-articles';
@import 'theme/components/section-about';
@import 'theme/components/service-card';
@import 'theme/components/section-services';
@import 'theme/components/section-logo-band';
@import 'theme/components/projet-card';
@import 'theme/components/content-layout';
@import 'theme/components/projet-detail';
@import 'theme/components/pagination';
@import 'theme/components/section-contact';
@import 'theme/components/mobile-nav';
@import 'theme/components/blog-card';
@import 'theme/components/blog-detail';
@import 'theme/components/breadcrumb';
@import 'theme/components/service-detail';
@import 'theme/components/offering-card';
@import 'theme/components/section-offerings';
@import 'theme/components/separator';
@import 'theme/components/faq-page';

@import 'theme/header';
@import 'theme/footer';
@import 'theme/menu';

// Extra Skeleton Styling
@import 'theme/blog';
@import 'theme/onepage';
