<div class="faq-item">
    <div class="faq-item-header">
        <h3 class="faq-item-title">{{ question|french_typo }}</h3>
        <button class="btn-collapse" aria-expanded="false" aria-controls="faq-desc-{{ index }}"></button>
    </div>
    <div class="collapse-content" id="faq-desc-{{ index }}">
        <p>{{ answer }}</p>
    </div>
</div>
