<div class="process-card">
    <div class="tag">
        <span class="tag-text">{{ tag }}</span>
    </div>
    <h3 class="process-card-title">{{ title|french_typo }}</h3>
    <p class="process-card-desc">{{ description }}</p>
</div>
