{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="default-content">
        <h1>{{ page.title }}</h1>

        {% if page.content|striptags|trim %}
            <div class="prose">
                {{ page.content|raw }}
            </div>
        {% endif %}

        <div class="blog-grid">
            {% for child in collection %}
                {% include 'partials/components/blog-card.html.twig' with {article: child} %}
            {% endfor %}
        </div>

        {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
        {% endif %}
    </div>
{% endblock %}
