{% extends 'partials/base.html.twig' %}

{% block content %}
    <div>
        <button class="btn btn-secondary">Click me</button>

        <div class="tag">
            <span class="tag-text">Tag</span>
        </div>

        <button class="btn-collapse" aria-expanded="false" aria-controls="desc-1">
        </button>
        <div class="collapse-content" id="desc-1">
            <p>Description longue...</p>
        </div>

        <button class="btn-chevron btn-chevron-left" aria-label="Previous">
        </button>
        <button class="btn-chevron btn-chevron-right" aria-label="Next">
        </button>

    </div>

    <div style="background-color: #282120; padding: 40px; margin-top: 20px;">
        {% for i in 1..3 %}
            {% include 'partials/components/faq-item.html.twig' with {
                question: 'Question exemple numéro ' ~ i ~ ' ?',
                answer: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.',
                index: i
            } %}
        {% endfor %}
    </div>

    {{ page.content|raw }}
{% endblock %}
