{% extends 'partials/base.html.twig' %}

{% block content %}
    <div>
        <button class="btn btn-secondary">Click me</button>

        <div class="tag">
            <span class="tag-text">Tag</span>
        </div>

        <button class="btn-collapse" aria-expanded="false" aria-controls="desc-1">
        </button>
        <div class="collapse-content" id="desc-1">
            <p>Description longue...</p>
        </div>

    </div>

    {{ page.content|raw }}
{% endblock %}
