{% extends 'partials/base.html.twig' %}

{% block content %}
    <button class="btn btn-secondary">Click me</button>

    <div class="tag">
        <span class="tag-text">Tag</span>
    </div>
    {{ page.content|raw }}
{% endblock %}
