<section class="section-faq section-wide">
    <div class="section-faq-inner">
        <div class="section-faq-heading">
            <h2>{{ page.header.heading }}</h2>
        </div>
        <div class="section-faq-list">
            {% for item in page.header.items %}
                {% include 'partials/components/faq-item.html.twig' with {
                    question: item.question,
                    answer: item.answer,
                    index: loop.index
                } %}
            {% endfor %}
        </div>
    </div>
</section>
