<section class="section-services section-wide">
    <div class="section-services-inner">
        {% for item in page.header.items %}
            {% include 'partials/components/service-item.html.twig' with {
                icon: item.icon,
                title: item.title,
                subtitle: item.subtitle,
                description: item.description,
                url: item.url,
                index: loop.index
            } %}
        {% endfor %}
    </div>
</section>
