<section class="section-logo-band">
    <div class="marquee">
        <div class="marquee-track">
            {% for i in 1..3 %}
                {% for logo in page.header.logos %}
                    {% set image = page.media[logo.file] %}
                    {% if image %}
                        <div class="marquee-item"{% if i > 1 %} aria-hidden="true"{% endif %}>
                            <a href="{{ logo.url }}" target="_blank" rel="noopener noreferrer nofollow"{% if i > 1 %} tabindex="-1"{% endif %}>
                                <img src="{{ image.url }}" alt="{% if i == 1 %}{{ logo.alt }}{% endif %}" loading="lazy">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
